<%- include header %>
    <form action="/login" method="post" class="login">
        <input type="text" name="username" placeholder="username"/>
        <input type="password" name="password" placeholder="password"/>
        <input type="submit" value="Log In"/>
    </form>
    <a href="/register">register here</a>
    <%= message %>
<%- include footer %>