<%- include header %>
<form action="/register" method="post" class="login">
    <input type="text" name="username" placeholder="username"/>
    <input type="password" name="password" placeholder="password"/>
    <input type="submit" value="Register"/>
</form>
<%= message %>
<%- include footer %>