body {
    margin:0;
    padding:0;
    font-family: Sans-Serif;
    line-height: 1.5em;
}

#header {
    background: #ccc;
    height: 100px;
}

#header h1 {
    margin: 0;
    padding-top: 15px;
}

main {
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    float: left;
    width: 100%;
}

#nav {
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    float: left;
    width: 230px;
    margin-left: -100%;
    background: #eee;
}

#footer {
    clear: left;
    width: 100%;
    background: #ccc;
    text-align: center;
    padding: 4px 0;
}

#wrapper {
    overflow: hidden;
}

#content {
    margin-left: 230px; /* Same as 'nav' width */
}

.innertube {
    margin: 15px; /* Padding for content */
    margin-top: 0;
}

p {
    color: #555;
}

nav ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0px 0px 0px 5px;
}

.notDone:before {
    content: '✗';
}

.notDone{
    color: darkred;
    text-decoration: none;
}

.done:before {
    content: '✔';
}

.done{
    color: darkgreen;
    text-decoration: none;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

#navbar li a:hover:not(.active) {
    background-color: #111;
}

#navbar .active {
    background-color: #4CAF50;
}